@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateOffers</title>
</head>
<body>
    <div>
        <h2>Pomyślnie wygenerowano @ViewBag.Amount ofert. </h2>
        <p>Domyślna ścieżka dla zdjęc to "c:\BSObrazy"</p>
        <p>@Html.ActionLink("Strona główna","Index","Home")</p>
    </div>
</body>
</html>
