@model BestSales.Models.DB.Bd2KomisDataBaseEntities

@{
  
    Layout = "~/Views/_Layouts/_BasicLayout.cshtml";
}


          <!--KARUZELA-->
<div class="row carousel-holder">
    <div class=" col-xs-12">
        @Html.Partial("~/Views/Partials/HomePageCarouselPartial.cshtml");
    </div>
</div>
<!--NAJNOWSZE OFERTY-->
<div class="row">

            @Html.Partial("~/Views/Partials/ThumbnailPartial.cshtml",Model)
            

</div>