@using System.Web.WebPages;

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <title>BestSales - najlepszy komis samochodowy na Opolszczyźnie</title>
        <meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" /> 
        <link href="~/Content/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!--MENU GÓRNE-->
        <header id="menu" class="navbar-fixed-top">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-inverse" role="navigation" id="pasek_nawigacji">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#moje-menu">
                                    <span class="sr-only">Nawigacja</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button><!--
                                <div id="logo">
                                    <a class="navbar-brand" href="http://www.allegro.pl"><img src="~/Images/logo_42x42.png" /></a>
                                </div>-->
                            </div>
                            <div id="moje-menu" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">HOME</a></li>
                                    <li><a href="#">OFERTA</a></li>
                                    <li><a href="#">MAPA DOJAZDU</a></li>
                                    <li><a href="#">O FIRMIE</a></li>
                                    <li><a href="#">KONTAKT</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav> 
                </div>
            </div>
        </header>

        <!--GŁÓWNY KONTENER ZAWIERAJĄCY MENU BOCZNE + KARUZELĘ + NAJNOWSZE OFERTY-->
        <div class="container-fluid" id="main-content">
            <div class="row">
                <!--MENU BOCZNE-->
                <div class="col-md-3">
                    <p class="lead">Kategorie pojazdów</p>
                    <div class="row">
                        <div class="panel-group" id="menu_harmonijkowe">
                            <!--SAMOCHODY-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
                                <div class="panel-heading">
                                    <a href="#samochody" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                                        Samochody
                                    </a>
                                </div>
                                <div id="samochody" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item">Osobowe</a>
                                            <a class="list-group-item">Ciężarowe</a>
                                            <a class="list-group-item">Specjalne</a>
                                        </div>
                                    </div>                                       
                                </div>
                            </div>
                            <!--MOTOCYKLE-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
                                <div class="panel-heading">
                                    <a href="#motocykle" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                                        Motocykle
                                    </a>
                                </div>
                                <div id="motocykle" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item">Ścigacze</a>
                                            <a class="list-group-item">Choppery</a>
                                            <a class="list-group-item">Crossowe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--CIĄGNIKI-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
                                <div class="panel-heading">
                                    <a href="#ciagniki" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                                        Ciągniki
                                    </a>
                                </div>
                                <div id="ciagniki" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item">Rolnicze</a>
                                            <a class="list-group-item">Ogrodnicze</a>
                                            <a class="list-group-item">Leśne</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--KARUZELA + NAJŚWIEŻSZE OFERTY-->
                <div class="col-md-9">
                    <!--KARUZELA-->
                    <div class="row carousel-holder">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="zdjecia-komisu" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#zdjecia-komisu" data-slide-to="0" class="active"></li>
                                    <li data-target="#zdjecia-komisu" data-slide-to="1"></li>
                                    <li data-target="#zdjecia-komisu" data-slide-to="2"></li>
                                    <li data-target="#zdjecia-komisu" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <img src="~/Images/welcome_carousel.jpg" alt="Witamy na stronie naszego komisu samochodowego" class="img-responsive" />
                                        <!--Zastosowanie ewentualnego opisu
                                            <div class="carousel-caption">
                                                <h1> OPIS<br /> CIAG DALSZY OPISU</h1>
                                                <p>pierdu pierdu</p>
                                            </div>
                                        -->
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/bmw_schnitzer_carousel.jpg" alt="Witamy na stronie naszego komisu samochodowego" class="img-responsive" />
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/Lamborghini_carousel.jpg" alt="Witamy na stronie naszego komisu samochodowego" class="img-responsive" />
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/bmw_f10_carousel.jpg" alt="Witamy na stronie naszego komisu samochodowego" class="img-responsive" />
                                    </div>
                                </div>
                                <a class="left carousel-control" data-slide="prev" href="#zdjecia-komisu">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" data-slide="next" href="#zdjecia-komisu">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div> 
                    </div>
                    <!--NAJNOWSZE OFERTY-->   
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="" />
                                <div class="caption">
                                    <h4 class="pull-right">1 000 000 zł</h4>
                                    <h4>
                                        <a href="#">Fajna fura</a>
                                    </h4>
                                    <p>OPIS_OPIS_OPIS_OPIS_OPIS_OPIS_OPIS</p>
                                </div>
                                <div class="ratings">
                                    <p>Ocena samochodu</p>
                                    <p class="pull-right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            


            <!--KOLEJNY ELEMENT-->
        </div>
        
        <!--STOPKA STRONY-->

        <!--JAVASCRIPT-->
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script>

        </script>
    </body>
</html>
    
