@model BestSales.Models.DB.DB2KomisDataBaseEntities

@{
  
    Layout = "~/Views/_Layouts/_BasicLayout.cshtml";
}


          <!--KARUZELA-->
<div class="row carousel-holder">
    <div class=" col-xs-12">
        @Html.Partial("~/Views/Partials/HomePageCarouselPartial.cshtml");
    </div>
</div>
<!--NAJNOWSZE OFERTY-->
<div class="row">

            @Html.Partial("~/Views/Partials/ThumbnailsPartial.cshtml",Model)
            

</div>