@{
    ViewBag.Title = "Dojazd";
    Layout = "~/Views/_Layouts/_BasicLayout.cshtml";
}


    <h2>Dojazd</h2>
    <p>Nasz komis znajduje się w Opolu przy ulicy Stanisława Mikołajczyka 5</p>

    <div id="iframe-holder" class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5056.074506469788!2d17.942850796845047!3d50.68213350745276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053bb2bff8913%3A0x23c26529bf36b898!2sStanis%C5%82awa+Miko%C5%82ajczyka+5%2C+46-020+Opole!5e0!3m2!1spl!2spl!4v1429095451336" width=300 height="300" frameborder="0" style="border:0"></iframe>
</div>
  