
<nav class="navbar navbar-inverse" role="navigation" id="pasek_nawigacji">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#moje-menu">
            <span class="sr-only">Nawigacja</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--
        <div id="logo">
            <a class="navbar-brand" href="http://www.allegro.pl"><img src="~/Images/logo_42x42.png"/></a>
        </div>-->
    </div>
    <div id="moje-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <li>@Html.ActionLink("OFERTA", "Offers", "Offers")</li>
            <li>@Html.ActionLink("MAPA DOJAZDU", "Map", "Home")</li>
            <li>@Html.ActionLink("KONTAKT", "ShowUser", "Home", new { userid = "1" }, new { })</li>
        </ul>
    </div>

</nav>