 <p class="lead">Kategorie</p>
<div class="row">
    <div class="panel-group" id="menu_harmonijkowe">
        <!--OSOBOWE-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
            <a href="#osobowe" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                <div class="panel-heading">
                    Osobowe
                </div>
            </a>
            <div id="osobowe" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">Audi</a>
                        <a class="list-group-item">Bmw</a>
                        <a class="list-group-item">Mercedes</a>
                    </div>
                </div>
            </div>
        </div>
        <!--CIĘŻAROWE-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
            <a href="#ciezarowe" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                <div class="panel-heading">
                    Ciężarowe
                </div>
            </a>
            <div id="ciezarowe" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">Scania</a>
                        <a class="list-group-item">Man</a>
                        <a class="list-group-item">Jelcz</a>
                    </div>
                </div>
            </div>
        </div>
        <!--INNE-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel">
            <a href="#inne" data-toggle="collapse" data-parent="#menu_harmonijkowe">
                <div class="panel-heading">
                    Inne
                </div>
            </a>
            <div id="inne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">Rolnicze</a>
                        <a class="list-group-item">Ogrodnicze</a>
                        <a class="list-group-item">Leśne</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>