/***********************************GŁÓWNE STYLOWANIE**********************************/
body{
    background-color:#808080;
    
}

/***********************************DEFINICJA STYLU DLA HEADER***************************/
/*Zacznijmy od wypozycjonowania i nadania rozmiary headera, w którym siedzi menu główne.*/
#menu{
    background-color:#000;
    border-bottom-style:solid;
    border-bottom-width:thick;
    border-color:#b22424;
}
.navbar{
    font-size:1.5rem;
    color:#fff;
    margin-top:1.5rem;
    margin-bottom:1rem;

    background-color:#000;
}



.navbar-inverse .navbar-nav > li > a{
	color: #b22424;
	margin-left: 5px;
	border: 1px solid transparent;
	line-height: 1rem;
    min-height:45px;
}

.navbar-inverse .navbar-nav > li > a:hover{
	display: block;
	color: #fff;
	border: 1px solid transparent;
	border-color: #fff;
	line-height: 1rem;
	border-radius: 4px;
	transition: all 0.7s ease;
    background-color:#b22424;
}

.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-color: #ffffff;
	background-color: #b22424;
	border-radius: 4px;
}

.navbar-inverse .navbar-nav > .active > a:hover{
	color: #fff;
	background-color: #b22424;
}

.navbar-inverse .navbar-nav > li > a:active{
	color: #fff;
	background-color: #b22424;
}

#navbar-top-row {
    min-height: 100px;
}
/**********************DEFINICJA STYLU DLA GŁÓWNEJ TREŚCI********************/
#main-content{
    margin-top:9rem;
    margin-left:1rem;
    margin-right:1rem;
}

/*********************************PRZECHODZIMY DO MENU BOCZNEGO**********************************/

#menu_harmonijkowe .panel{
    margin:0;   
    padding:0;
    background-color:#fff;
}
a .panel-heading{
    border-radius:0;
    color:#b22424;
    background-color:#000;
}

a .panel-heading:hover{
    background-color:#b22424;
    color:#fff;
    transition: all 0.7s ease;
}

a .panel-heading:active{
    background-color:#b22424;
}

#menu_harmonijkowe .panel-collapse{
    background-color:#b22424;
}

#menu_harmonijkowe .list-group{
    margin-bottom:0;
}
#menu_harmonijkowe .list-group-item{
    background-color:#000;
    color:#b22424;
}
#menu_harmonijkowe .list-group-item:hover{
    background-color:#b22424;
    color:#000;
    font-weight:bold;
    transition: all 0.7s ease;
}

/*********************************PRZECHODZIMY DO KARUZELI**********************************/

.carousel-holder{
    margin:0 auto 2rem auto;
    
}
.carousel-inner .item{
    padding-left: 20%;
}

/*********************************PRZECHODZIMY DO MINIATUREK - THUMBNAILS**********************************/

#main-content .thumbnail{
    background-color:#000;
    color:#fff;
}

.thumbnail .ratings p{
    display:inline;
}

.thumbnail .caption{
    overflow:hidden;
    max-height:110px;
}